/*using tag name*/
p {
    text-align: center;
    font-family: 'Times New Roman, Times, serif';
}

/*with id reference*/
#para1{
    height:200px;
    font-size:larger;
    background-color:cornsilk;
    color:cadetblue;
     }
#para2 {
    height: 300px;
    font-size: larger;
    font-style: italic;
    background-color:antiquewhite;
    color:brown;
}

h1 {
   
    font-size:x-large;
    font-style: italic;
    background-color:cornflowerblue;
    color:chartreuse;
}

/*class*/
.commonFont {
    font-family: 'Amiri Quran';
    font-style: italic;
}